<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    <header>
        <div class="header-home">
            <h1>PlayPurity Wash</h1>
        </div>

        <nav>
            <a href="/about">About Us</a>
            <a href="/services">Our Services</a>
            <a href="/appointment">Schedule Clean</a>
        </nav>
    </header>

    <main>
        <div class="home-main">
            <div class="left-maincontainer">
                <div class="left-info">
                    <div class="left-heading">
                        <h4> Clean. Safe. Play </h4>
                        <h3>Cleaning and sanitizing playgrounds is our expertise, ensuring a healthy environment.</h3>
                        <button>Contact Us</button>
                    </div>
                </div>
            </div>

            <div class="right-maincontainer">
                <div class="right-info">
                    <div class="right-playground"><img src=".././images/MainLogo.png" alt="Playground"></div>
                </div>
            </div>
        
          </div>
    </main>



    <!-- jQuery Carousel -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/main.js"></script>

  </body>
</html>