* {
    box-sizing: border-box;
    padding: 0.25rem 0;
}

.header-home {
    padding: 0.25rem 0.50rem;
    background-color: rgb(241, 247, 241);
}


nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(191, 202, 191);
}

a {
    text-decoration: none;
}

.navbar-brand {
    font-size: 2rem !important;
    font-weight: bold;
    color: rgb(106, 202, 106) !important;
}




/* home.ejs main - carousel */


/* home.ejs main */

main {
    padding-top: 4.50rem;
}

.info-main {
    background-color: #d8d0b0;
    padding: 1rem;

}

.info-main h1 {
    text-align: center;
    font-size: 2rem;
    padding: 0.50rem;
 
}

.sub-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-main h3 {
    text-align: center;
    font-size: 1.25rem;
    padding-bottom: 3rem;
    margin: 0 1rem;
}

.sub-main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    padding-bottom: 1.50rem;
}

/* home.ejs apointment */

.appt-box {
    background-color: #f0e6bd;
    margin-top: -17px;
    height: 280px;
}

form.container {
    margin-top: -50px;
    position: relative;
}

.appt-box .container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(122, 206, 167);
    width: 700px;
}
  
.box {
    flex: 1 1 25%; 
    padding: 10px;
}

select#facility {
    width: 200px;
}

select#date {
    width: 200px;
}


.datebox {
    display: flex;
    flex-direction: column;
}

.box .apptbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#appointment {
    width: 200px;
    height: 75px;
    line-height: 5px;
    background-color: #9ddf9f;
}

#appointment h1 {
    font-size: 15px;
}

#appointment p {
    font-size: 15px;
}
  
.options-container {
    display: flex;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}

.options-container input[type="checkbox"] {
    margin-right: 5px;
    margin-top: 10px;
}

label.frequency {
    font-weight: bold;
    font-size: 20px;
}
  
.options-container label {
    margin-right: 25px;
}
  
  
.reviews-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    gap: 50px;
}

.reviews-container .fa-solid, .fa-sharp {
    font-size: 20px;
    text-align: center;
}


/* home.ejs services */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    margin: 0; 
    box-sizing: border-box;
}



.services-home h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.card {
    width: 200px;
    height: 150px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

/* home.ejs contact */
.contact-home h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
  }
  
 
input[type=submit] {
    background-color: #568372;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
  
input[type=submit]:hover {
    background-color: #b0c9b1;
}
  
 
.contact-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}



/* home.ejs footer */
footer {
    border: 3px solid #fff;
}

.footer-name {
    font-size: 25px;
}

.footer-name, .footer-info {
    width: 50%;
    float: left;
    padding: 20px;
}

.footer-info-icons {
    display: flex;
    gap: 10px;
}